
html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
body {
    font-family: 'Rubik', sans-serif;
}
.pusher {
    height: 9vh;


}
.pusher2 {
    height: 10vh;


}

.vertical-center {
    margin: 0 auto ;
    /* margin: 0; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.container1{
    /* background-color:#fff;  */
    /* position: absolute;  */
    /* top: 50px;  */
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
  }

.jumbotron {
    height: 91vh; 
   
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1504&q=80");
    color: black;
    margin: 0 auto;
    width: 100%
}
.clear{
    background-image: none;
}
.img-art{
    width:90%;
}

a:link {
text-decoration:none;
}

a:visited {
    text-decoration:none;
    }
.card-img-top { 
  width:70%;
  margin:auto;
  padding:auto;
  display:block;
}
/* Note - card-img-top is an 
existing bootstrap class*/

.manual-center {
    margin:auto;
    /* width:90% */
}

a {
    text-decoration:none;
}
div h1 {
    
    display:inline-block;
        text-decoration:none;
}

.form-flex {
    width:80;
}

.input-contact {
    width: 90%;
    
}
.mapouter {
    overflow:hidden;
}
.svg {
    width:60px;
    height:60px;

}